<section class="section">
  <form action="/memos/<%= @id %>" method="POST">
    <div class="container">
      <p>タイトル</p>
      <input class="input is-primary memo-title" type="text" placeholder="タイトル" name="title" value=<%= @memo["title"] %>>
      <p>メモ</p>
      <textarea class="textarea is-primary memo-body" placeholder="メモ" rows="10" name="body"><%= @memo["body"] %></textarea>
    </div>
    <div class="container">
      <input type="hidden" name="_method" value="patch">
      <input type="submit" class="button is-primary" value="変更">
    </div>
  </form>
</section>