<section class="section">
  <form action="/memos" method="POST">
    <div class="container">
      <div class="control">
        <input class="input is-primary memo-title" type="text" placeholder="タイトル" name="title">
        <textarea class="textarea is-primary memo-body" placeholder="メモ" rows="10" name="body"></textarea>
      </div>
    </div>
    <div class="container">
      <input type="submit" class="button is-primary" value="保存">
    </div>
  </form>
</section>
