<section class="section">
  <div class="container">
    <a href="/memos/new" class="button is-primary">追加</a>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <ul>
        <% @memos.each_with_index do |memo, id| %>
          <li><a href="/memos/<%= id %>"><%= memo[:title] %></a></li>
        <% end %>
      </ul>
    <div>
  </div>
</section>